In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from scipy import stats
import seaborn as sns

In [3]:
df = pd.read_excel('fueldata.xlsx')

In [4]:
df.head(10)

,SUMMARY OUTPUT,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Regression Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Multiple R,0.913149,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R Square,0.833842,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Adjusted R Square,0.83167,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Standard Error,1.64596,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Observations,311,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ANOVA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,df,SS,MS,F,Significance F,NaN,NaN,NaN